<!-- <hello name="{{ name }}"></hello> -->
<h1>
  {{ appName }}
</h1>

<input type="text" [value]="clientName" />

<p [style.color]="myColor">Text color is styled using style binding</p>

<p [class]="appliedCSSClass">This text applied the myClass property..</p>

<p [class.blue]="notappliedCSSClass">
  This text applied the myClass property..
</p>

<!-- Two-way data binding -->
<input [(ngModel)]="myName" placeholder="Enter your name" />
<p>Hello, {{ myName }} !!</p>

<!-- Event Binding -->

<button (click)="onButtonClick()">TIGER</button>

<p *ngIf="message">{{ message }}</p>

<button (click)="showAlert()">CAT</button>

<!-- ngIf Directive -->
<ng-template [ngIf]="showElement">
  <p>This element is displayed if showElement is true</p>
</ng-template>

<!-- ngFor Directive -->

<ol>
  <li *ngFor="let item of items">{{ item }}</li>
</ol>

<!-- ngSwitch Directive -->

<ng-container [ngSwitch]="selectedOption">
  <p *ngSwitchCase="1">Option 1 is selected</p>
  <p *ngSwitchCase="2">Option 2 is selected</p>
  <p *ngSwitchDefault>No option is selected</p>
</ng-container>

<!-- ngStyle Directive -->

<p [ngStyle]="{ color: color }">This text is dynamically colored</p>

<!-- ngClass Directive -->

<p [ngClass]="{ bold: isBold, italic: isItalic }">
  This text is dynamically styled
</p>

<!-- ngModel Directive -->

<input [(ngModel)]="name" />
<p>Annyeong {{ name }}!</p>
